<ion-view title="home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 	<div class="bar bar-footer bar-stable">
  		<a class="button button-clear" title="information" href="#/app/info" ><i class="ion-information-circled" ></i></a>
 		 <a class="button button-clear" title="danger" href="#/app/info" ><i class="ion-alert-circled" ></i></a>
  		<a class="button button-clear" title="setting"><i class="ion-gear-b"></i></a>
	</div>
 	  
 	<ion-content >
 	<div style="text-align: center;vertical-align: middle;" >
		<img alt="" src="./img/travel.png" align="middle" height="400px" width="500px;" >
	</div>
	</ion-content>
</ion-view>